{# FormBundle/Resources/views/email.html.twig #}
<h3>Musée du Louvres - Vos billets</h3>

<p>
	Vous venez d'effectuer une réservation de billet pour visiter le musée du Louvres et nous vous en remercions.
	<br/> 
	Vous trouverez ci-dessous les informations de votre réservation à présenter au guichet du musée lors de votre visite.
</p>

<p>
	Numero de reservation : <strong>{{ reservation.code }}</strong>
	</br>
	Jour de la visite : le <strong>{{ reservation.jour.jour|date('d/m/Y') }}</strong>
	</br>
	Prix total : <strong>{{ reservation.prixTotal }}</strong> €
	</br>

	{% set numBillet = 1 %}
	{% for billet in reservation.billets %}
		Billet <strong>n°{{ numBillet }}</strong> - <strong>{{ billet.nom }} {{ billet.prenom }}</strong>
		{% if billet.tarifReduit == 1 %}
			- Attention : un justificatif de tarif réduit vous sera demandé pour ce billet
		{% endif %}
		</br>
		{% set numBillet = numBillet + 1 %}
	{% endfor %}
</p>

<p>A très bientôt au musée !</p>
<p><strong>L'équipe du musée du Louvres</strong></p>
<img src="{{ absolute_url(asset('web/images/paris_louvre.png')) }}">
