{% extends '::layout.html.twig' %}

{% block body %}

<!--Fil d'arianne-->
	<nav aria-label="breadcrumb" role="navigation">
	  <ol class="breadcrumb rounded-0">
	    <li class="breadcrumb-item"><a href="{{ path('info_reservation') }}">Réservation</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Billets</li>
	    <li class="breadcrumb-item fil-arianne-off">Récapitulatif et paiement</li>
	    <li class="breadcrumb-item fil-arianne-off">Validation</li>
	  </ol>
	</nav>


<!--Formulaire-->
<div class="col-8 m-auto">
	<div class="div-ajax-loading"></div>
	<img class="ajax-loading" src="{{ asset('../web/images/ajax-loader.gif') }}" alt="Loading" />
	
	<h1 class="mt-3">Informations sur vos billets</h1>

	<h4>Date de réservation : <span id="date-visite">{{ reservation.jour.jour|date('d/m/Y') }}</span></h4>
	<hr>

	{{ form_start(form) }}

	{# Erreurs générales #}
	{{ form_errors(form) }} 

	{{ form_widget(form.billets) }}

	<hr>

	<button href="#" id="ajout_billet" class="btn bg-success bouton-formulaire"><i class="fa fa-plus"></i>Ajouter un billet</button>
	<p id="messageAjout"></p>

	<hr>

	<div class="form-group">
		{{ form_widget(form.submit, {'attr': {'class': 'bg-info bouton-formulaire float-right'}, 'label': 'Valider'}) }}
	</div>

	{{ form_rest(form) }}

	{{ form_end(form) }}


	<a class="float-left btn btn-secondary m-auto" href="{{ path('info_reservation') }}" role="button">Retour à la reservation</a>

</div>

<script>
	var urlIdBillet = "{{ (path('id_billet')) }}";
	var urlCheckBilletRestant = "{{ path('check_nombre_billets_restant') }}";
	var urlSupprimerBillet = "{{ (path('supprime_billet')) }}";
	var reservationId = "{{ reservation.id }}";
</script>

<!--Custom script-->
{% javascripts 'bundles/form/js/page_billet_script.js' %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}	

{% endblock %}