{% extends '::layout.html.twig' %}



{% block body %}

<!--Fil d'arianne-->

	<nav aria-label="breadcrumb" role="navigation">
	  <ol class="breadcrumb rounded-0">
	    <li class="breadcrumb-item"><a href="{{ path('info_reservation') }}">Réservation</a></li>
	    <li class="breadcrumb-item"><a href="{{ path('info_billet', {'id': reservation.id}) }}">Billets</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Récapitulatif</li>
	    <li class="breadcrumb-item fil-arianne-off">Paiement</li>
	    <li class="breadcrumb-item fil-arianne-off">Validation</li>
	  </ol>
	</nav>




<!--Formulaire-->
<div class="col-8 m-auto">
	<h1 class="mt-3">Réservation de billets - Récapitulatif</h1>



	<table class="table">

	  <thead class="bg-light">
	    <tr>
	      <th>Billet</th>
	      <th>Nom</th>
	      <th>Prénom</th>
	      <th>Pays</th>
	      <th>Date de naissance</th>
	      <th>Tarif réduit</th>
	      <th>Prix</th>
	    </tr>
	  </thead>


	  
	  <tbody>
	  	{% for billet in reservation.billets %}
		    <tr>
		      <th scope="row">1</th>
		      <td>{{ billet.nom }}</td>
		      <td>{{ billet.prenom }}</td>
		      <td>{{ billet.pays }}</td>
		      <td>{{ billet.dateNaissance|date('d/m/Y') }}</td>
		      <td>{{ billet.tarifReduit }}</td>
		      <td>{{ billet.prixBillet }}</td>
		    </tr>
	    {% endfor %}
	  </tbody>

	</table>



	<h3 class="text-right">Prix total : {{ reservation.prixTotal }}</h3>
	<a class="float-right btn btn-info m-auto" href="{{ path('info_paiement', {'id': reservation.id}) }}" role="button">Valider et passer au paiement</a>


</div>




{% endblock %}